<div class='col-md-4 create-container'>
	<form [formGroup]='userForm' (ngSubmit)='submitUser()'>
		<div class='form-group'>
			<label for='inputName'>Enter Name</label>
			<input class='form-control' name='name' type='text' formControlName='name'>
			<!-- Error -->
			<div *ngIf='submitted && myForm.name.errors && !myForm.name.pristine'>
				<div [hidden]='!myForm.name.errors.required'>Name is required.</div>
			</div>
		</div>

		<div class='form-group'>
			<label for='inputEmail'>Enter Email</label>
			<input class='form-control' type='text' formControlName='email'>
			<!-- Error -->
			<div *ngIf='myForm.email.errors && !myForm.email.pristine'>
				<div [hidden]='!myForm.email.errors.required'>Email is required.</div>				
				<div [hidden]='!myForm.email.errors.pattern'>Enter a valid email.</div>
			</div>
		</div>

		<button class='btn btn-success' type='submit'>Enter Chatroom</button>
	</form>
</div>
